<div class="container">
  <div class="jumbotron pricing-tables-jumbotron">
    <h1>Compare Local Movers in Denver</h1>
    <h2>Get Prices Immediately</h2>
  </div>
  <div class="row attached">
    <div class="col-xs-12">
      <div class="plan">
        <div class="plan-title" id="form_body" style="margin-top: 30px; height: 300px;">
          <form name="inquiryForm" ng-hide="inquirySubmitted">
            <div class="form-group" style="padding: 30px;">
              <label for="inputEmail3" class="col-sm-2 col-sm-offset-1 control-label">Moving Date</label>
              <div class="col-sm-7">
                <input type="text" ng-model="inquiry.date" class="form-control" id="inputEmail3" placeholder="i.e. 12/14/2014">
              </div>
            </div>
            <div class="form-group" style="padding: 30px;">
              <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 control-label">Current Zip Code</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="inquiry.current_zip" id="inputPassword3" placeholder="Current Zip Code">
              </div>
            </div>
            <div class="form-group" style="padding: 30px;">
              <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 control-label">Future Zip Code</label>
              <div class="col-sm-7">
                <input type="text" ng-model="inquiry.future_zip" class="form-control" id="inputPassword3" placeholder="Future Zip Code">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-success" ng-click="getEstimate()">Get Estimates</button>
              </div>
            </div>
          </form>
          <div ng-show="loading">
            <h2>Loading Your Deals</h2>
            <progressbar class="progress-striped active" value="progress"></progressbar>
          </div>
          <div ng-show="inquirySubmitted && !loading">
          <h3>Done loading</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="jumbotron pricing-tables-jumbotron">
      <h2>Attached 4 col</h2>
  </div>

  <div class="row attached">
    <div class="col-sm-3 col-md-3">
      <div class="plan">
        <div class="plan-title">
          <h3>Starter</h3>
          <span>for new user's</span>
        </div>
        <div class="plan-price">
          <h3><span class="symbol">$</span>25</h3>
          <h4>per month</h4>
        </div>
        <div class="plan-list">
          <div class="divide">
            <div class="icon">
              <i class="fa fa-road fa-3x"></i>
            </div>
          </div>
          <ul class="item-list">
                      <li><strong>5GB</strong> Disk Space</li>
                      <li><strong>15</strong> Email Addresses</li>
                      <li><strong>5</strong> Domains </li>
                      <li><strong>50</strong> Subdomains</li>
                      <li><strong>Email</strong> Support</li>
                  </ul>
                  <button type="button" class="btn btn-success">Sign Up</button>
                </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="plan most-popular">
        <div class="plan-title">
          <h3>Value</h3>
          <span>most popular plan</span>
        </div>
        <div class="plan-price">
          <h3><span class="symbol">$</span>50</h3>
          <h4>per month</h4>
        </div>
        <div class="plan-list">
          <div class="divide">
            <div class="icon">
              <i class="fa fa-plane fa-3x"></i>
            </div>
          </div>
          <ul class="item-list">
            <li><strong>20GB</strong> Disk Space</li>
            <li><strong>25</strong> Email Addresses</li>
            <li><strong>10</strong> Domains</li>
            <li><strong>80</strong> Subdomains</li>
            <li><strong>Chat</strong> Support</li>
          </ul>
          <button type="button" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="plan">
        <div class="plan-title">
          <h3>Pro</h3>
          <span>best bet for any  freelancer</span>
        </div>
        <div class="plan-price">
          <h3><span class="symbol">$</span>75</h3>
          <h4>per month</h4>
        </div>
        <div class="plan-list">
          <div class="divide">
            <div class="icon">
              <i class="fa fa-rocket fa-3x"></i>
            </div>
          </div>
          <ul class="item-list">
            <li><strong>40GB</strong> Disk Space</li>
            <li><strong>35</strong> Email Addresses</li>
            <li><strong>15</strong> Domains</li>
            <li><strong>100</strong> Subdomains</li>
            <li><strong>Phone</strong> Support</li>
          </ul>
          <button type="button" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="plan">
        <div class="plan-title">
          <h3>Full</h3>
          <span>Best plan</span>
        </div>
        <div class="plan-price">
          <h3><span class="symbol">$</span>99</h3>
          <h4>per month</h4>
        </div>
        <div class="plan-list">
          <div class="divide">
            <div class="icon">
              <i class="fa fa-rocket fa-3x"></i>
            </div>
          </div>
          <ul class="item-list">
            <li><strong>60GB</strong> Disk Space</li>
            <li><strong>75</strong> Email Addresses</li>
            <li><strong>25</strong> Domains</li>
            <li><strong>200</strong> Subdomains</li>
            <li><strong>Phone</strong> Support</li>
          </ul>
          <button type="button" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </div>

  </div><!-- /.row -->
</div><!-- /.container -->
