/*
 * Name: Halfy - Responsive Pricing Tables        
 * Author: web-master72		    
*/

body {
 font-family: 'Bitter', serif;
 background: #f5f5f5;
 background: url('/assets/truck.jpg') no-repeat center center fixed;
 -moz-background-size: cover;

-webkit-background-size: cover;

-o-background-size: cover;

background-size: cover;
 padding-bottom: 40px;
}


.pricing-tables-jumbotron {
	text-align: center;
	background: none;
	color: #fff;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.pricing-tables-jumbotron>h1, .pricing-tables-jumbotron>h2 {
	font-family: 'Bitter', serif;
}

.plan {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	padding: 20px;
	margin: 20px 0;
	text-align: center;
}

.plan-with-form {
	background-color: rgba(255, 255, 255, 0.88);
}

.plan>.plan-title>h3, .plan>.plan-price>h3, .plan>.plan-price>h4 {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
	margin: 0;
}

.plan>.plan-title>span, .plan>.plan-price>h4 {
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	text-transform: none;
}

.plan>.plan-price {
	padding: 20px 10px 40px;
}

.plan>.plan-price>h3 {
	font-size: 72px;
}

.plan>.plan-price>h3>span {
	font-size: 32px;
	vertical-align: top;
	position: relative;
	margin: 12px 0 0 -7px;
	display: inline-block;
}

.plan>.plan-list {
	background: #222;
	margin: 0 -20px -20px;
	padding: 0 20px 20px;
	color: #fff;
}

.plan-list>.divide {
	position: relative;
}

.plan-list>.divide>.icon {
	background: #fff;
	border-radius: 0 0 6px 6px;
	color: #222;
	padding: 5px 0;
	width: 69px;
	position: absolute;
	left: 50%;
	top: -1px;
	margin-left: -34px;
}

.plan-list>.item-list {
	list-style: none;
	padding: 80px 0 20px 0;
}

.plan-list>.item-list>li {
	padding: 5px;
	font-size: 16px;
}

.plan-list>.btn {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	padding: 12px 8px;
}

.attached>.col-md-4, .attached>.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}

.attached .plan {
	margin-top: 8px;
}

.attached .most-popular {
	position: relative;
	z-index: 99;
	margin-top: -8px;
}

.attached .most-popular>.plan-price {
	padding-bottom: 43px;
}

.attached .most-popular>.plan-price>h3 {
	font-size: 84px;
}

.attached .most-popular>.plan-price>h3>span {
	font-size: 42px;
	margin: 12px 0 0 -7px;
}

.attached .most-popular>.plan-list>.item-list {
	padding-bottom: 35px;
}

@media (max-width: 768px) {
	.attached>.col-md-4, .attached>.col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}



.animate-enter.animate-enter-active {
    opacity: 1;
}

.repeat-animation.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */ 
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration:0;
  transition-duration:0;
}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  /* 200ms will be applied between each sucessive enter operation */ 
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity:0;
  line-height:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
  line-height:20px;
}

.mover-plan {
  height: 100px;
}

.item-list {
  height: 200px;
}

.modal {
  position: absolute;
  outline: none;
  overflow: visible;
  top: 10%;
  left: 10%;
  right: 10%;
  width: auto;
  height: 90%;
}

.moving-modal {
  height: 500px;
  background: url('/assets/moving-truck.gif') no-repeat 85% 60%;
}

.modal-dialog {
  position: relative;
  height: 100%;
}

.description {
  text-shadow: 0.5px 0 0 #fff, 0 -0.5px 0 #fff, 0 0.5px 0 #fff, -0.5px 0 0 #fff;
}
