<div class="container moving-modal">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-1">
      <div class="modal-header">
          <h1>{{selectedDeal.name}}</h1>
      </div>
    </div>
  </div>
  <div class="row modal-body" style="margin-top: 50px;">
    <div class="col-xs-4 col-xs-offset-1">
      <div>
        <h3>Your Move on {{inquiry.date}}</h3>
        <h4>{{selectedDeal.price | currency}}</h4>
        <h5>{{selectedDeal.moveDuration}} Hours.</h5>
        <div class="reviews" ng-show="selectedDeal.reviews.length > 0">
          <h6>Reviews <rating value="selectedDeal.averageRating" max="maxRating" readonly="isReadonly"></rating></h6>
          <ul>
            <li ng-repeat="review in selectedDeal.reviews">
              <rating value="review.rating" max="maxRating" readonly="isReadonly"></rating> <br>
              <strong><em>{{review.name}}</em></strong> - <span class="description">{{review.description}}</span>
            </li>
          </ul>
        </div>
        <div ng-show="selectedDeal.reviews.length == 0">
        <h6>No Reviews</h6>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
    </div>
  </div>
  <div class="row" style="margin-top: 150px;">
    <div class="col-xs-4 col-xs-offset-1">
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="bookMove(selectedDeal)">Book Move!</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>