<!DOCTYPE html>
<html>
<head>
  <title>Denver Moves</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="jumbotron pricing-tables-jumbotron">
      <h1>Responsive Pricing Tables In Two Variants</h1>
      <h2>Detached 3 col</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Starter</h3>
            <span>for new user's</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>25</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-road fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>5GB</strong> Disk Space</li>
              <li><strong>15</strong> Email Addresses</li>
              <li><strong>5</strong> Domains </li>
              <li><strong>50</strong> Subdomains</li>
              <li><strong>Email</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Value</h3>
            <span>most popular plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>50</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-plane fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>20GB</strong> Disk Space</li>
              <li><strong>25</strong> Email Addresses</li>
              <li><strong>10</strong> Domains</li>
              <li><strong>80</strong> Subdomains</li>
              <li><strong>Chat</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Pro</h3>
            <span>best bet for any  freelancer</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>75</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>40GB</strong> Disk Space</li>
              <li><strong>35</strong> Email Addresses</li>
              <li><strong>15</strong> Domains</li>
              <li><strong>100</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container">
    <div class="jumbotron pricing-tables-jumbotron">
      <h2>Detached 4 col</h2>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Starter</h3>
            <span>for new user's</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>25</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-road fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>5GB</strong> Disk Space</li>
              <li><strong>15</strong> Email Addresses</li>
              <li><strong>5</strong> Domains </li>
              <li><strong>50</strong> Subdomains</li>
              <li><strong>Email</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Value</h3>
            <span>most popular plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>50</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-plane fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>20GB</strong> Disk Space</li>
              <li><strong>25</strong> Email Addresses</li>
              <li><strong>10</strong> Domains</li>
              <li><strong>80</strong> Subdomains</li>
              <li><strong>Chat</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Pro</h3>
            <span>best bet for any  freelancer</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>75</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>40GB</strong> Disk Space</li>
              <li><strong>35</strong> Email Addresses</li>
              <li><strong>15</strong> Domains</li>
              <li><strong>100</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Full</h3>
            <span>best plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>99</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>60GB</strong> Disk Space</li>
              <li><strong>75</strong> Email Addresses</li>
              <li><strong>25</strong> Domains</li>
              <li><strong>200</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container">
    <div class="jumbotron pricing-tables-jumbotron">
      <h2>Attached 3 col</h2>
    </div>
    <div class="row attached">
      <div class="col-sm-4 col-md-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Starter</h3>
            <span>for new user's</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>25</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-road fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>5GB</strong> Disk Space</li>
              <li><strong>15</strong> Email Addresses</li>
              <li><strong>5</strong> Domains </li>
              <li><strong>50</strong> Subdomains</li>
              <li><strong>Email</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="plan most-popular">
          <div class="plan-title">
            <h3>Value</h3>
            <span>most popular plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>50</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-plane fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>20GB</strong> Disk Space</li>
              <li><strong>25</strong> Email Addresses</li>
              <li><strong>10</strong> Domains</li>
              <li><strong>80</strong> Subdomains</li>
              <li><strong>Chat</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Pro</h3>
            <span>best bet for any  freelancer</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>75</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>40GB</strong> Disk Space</li>
              <li><strong>35</strong> Email Addresses</li>
              <li><strong>15</strong> Domains</li>
              <li><strong>100</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container">
    <div class="jumbotron pricing-tables-jumbotron">
      <h2>Attached 4 col</h2>
    </div>
    <div class="row attached">
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Starter</h3>
            <span>for new user's</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>25</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-road fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>5GB</strong> Disk Space</li>
              <li><strong>15</strong> Email Addresses</li>
              <li><strong>5</strong> Domains </li>
              <li><strong>50</strong> Subdomains</li>
              <li><strong>Email</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan most-popular">
          <div class="plan-title">
            <h3>Value</h3>
            <span>most popular plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>50</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-plane fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>20GB</strong> Disk Space</li>
              <li><strong>25</strong> Email Addresses</li>
              <li><strong>10</strong> Domains</li>
              <li><strong>80</strong> Subdomains</li>
              <li><strong>Chat</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Pro</h3>
            <span>best bet for any  freelancer</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>75</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>40GB</strong> Disk Space</li>
              <li><strong>35</strong> Email Addresses</li>
              <li><strong>15</strong> Domains</li>
              <li><strong>100</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="plan">
          <div class="plan-title">
            <h3>Full</h3>
            <span>Best plan</span>
          </div>
          <div class="plan-price">
            <h3><span class="symbol">$</span>99</h3>
            <h4>per month</h4>
          </div>
          <div class="plan-list">
            <div class="divide">
              <div class="icon">
                <i class="fa fa-rocket fa-3x"></i>
              </div>
            </div>
            <ul class="item-list">
              <li><strong>60GB</strong> Disk Space</li>
              <li><strong>75</strong> Email Addresses</li>
              <li><strong>25</strong> Domains</li>
              <li><strong>200</strong> Subdomains</li>
              <li><strong>Phone</strong> Support</li>
            </ul>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</body>
</html>