<!DOCTYPE html>
<html ng-app="fantasy_sports_dashboard">
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-cookies.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppCtrl">

<div class="container">
  <div class="row">
    <%= yield %>
    <ng:view></ng:view>
  </div>
</div>

</body>
</html>
